.additional_menu {
  display: grid;
  justify-content: center;
  height: 100%;
  padding-top: 65px;
  padding-left: 55px;
  border: 2px solid black;
  border-radius: 0 15px 15px 0;
}

.settings_menu {
  width: 620px;
}

.settings_form {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 460px;
  height: 480px;
}

.settings_form_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  width: 160px;
}

.books_menu {
  width: 1200px;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 4);
  gap: 25px;
  height: 820px;
  width: 1100px;
}

.books-list_item {
  border: 1px solid black;
  border-radius: 20px;
}