html {
  block-size: 100%;
}

.page {
  min-width: 1100px;
  font-family: "MontserratAlternates", sans-serif;
  font-size: 24px;
  background-color: #BAB58E;
  block-size: 100%;
}

.content {
  display: grid;
  height: 100%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-self: center;
  justify-self: center;
  width: 40%;
}

.sidebar_button {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 1px solid black;
  border-radius: 20%;
}

.button-profile {
  background-image: url(../images/profile.svg);
}

.button-books {
  background-image: url(../images/book.svg);
}

.button-theme {
  background-image: url(../images/sun.svg);
}

.button-sound {
  background-image: url(../images/sound-off.svg);
}

.button-info {
  background-image: url(../images/question-mark.svg);
}

.button-settings {
  background-image: url(../images/settings.svg);
}

.content_main {
  display: grid;
  grid-template-rows: repeat(3, 5vh) 1fr;
  padding: 2vmax;
}

.main_username {
  font-size: 1.6em;
  font-weight: 600;
}

.main_book-name-current {
  font-size: 1.4em;
  justify-self: center;
}

.chapter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.chapter-nav_button {
  text-decoration: underline;
  width: 180px;
}

.typing-box {
  border: 1px solid black;
  border-radius: 2%;
}