html {
  block-size: 100%;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1380px 1fr;
  min-width: 1580px;
  font-family: "MontserratAlternates", sans-serif;
  font-size: 24px;
  background-color: #BAB58E;
  block-size: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  align-self: center;
}

.button_sidebar {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 20%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.button-profile {
  background-image: url(../images/profile.svg);
}

.button-books {
  background-image: url(../images/book.svg);
}

.button-theme {
  background-image: url(../images/sun.svg);
}

.button-info {
  background-image: url(../images/question-mark.svg);
}

.button-sound {
  background-image: url(../images/sound-off.svg);
}

.button-settings {
  background-image: url(../images/settings.svg);
}

.content {
  display: grid;
  grid-template-rows: 40px 40px 29px 1fr;
  gap: 10px;
  width: 1380px;
  margin-top: 30px;
}

.content_username {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.book-name_current {
  justify-self: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.chapter-nav {
  display: flex;
  justify-content: space-between;
  color: #2b2b2b;
  font-size: 18px;
}

.chapter-nav_button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.text-box {
  width: 1380px;
  height: 750px;
  border: 1px solid black;
  border-radius: 10px;
}